include ../mixin/mixin.pug
block main-vars

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    //- Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    //- Icon font
    script(src='https://kit.fontawesome.com/9ca2acc967.js' crossorigin='anonymous')
    //- Useful meta tags
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- <meta name="viewport" content="width=1280"> ширина видимого контента, уменьшается сайт без адаптации
    meta(name='robots' content='index, follow')
    //- чтоб не бесил выплывающий перевод страницы
    meta(name='google' value='notranslate')
    //- Swiper CDN
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
    script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
    //- AOS
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    //- meta
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    title #{title}
    block head
  body(class=bodyClass)
    //- .preloader
    
    .btn-to-top
      //- svg
      //-   use(xlink:href='images/icon/sprite.svg#arrow-left')
      svg(width='62' height='45' viewBox='0 0 62 45' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M31.1501 0C30.0258 0 28.9701 0.555004 28.2537 1.52375L1.1673 38.135C0.217837 39.4175 0.0338861 41.1462 0.686282 42.6437C1.3204 44.0962 2.61262 45 4.06252 45H58.2376C59.6875 45 60.9798 44.0962 61.6139 42.6437C62.2663 41.1462 62.0823 39.4175 61.1329 38.135L34.0464 1.52375C33.3301 0.555004 32.2743 0 31.1501 0ZM30.0304 3.09625C30.5994 2.33 31.7019 2.33 32.2709 3.09625L59.3573 39.7075C59.7538 40.2438 59.8258 40.9375 59.5527 41.5675C59.2968 42.1512 58.8055 42.5 58.2376 42.5H4.06252C3.49467 42.5 3.00337 42.1512 2.74858 41.5675C2.47551 40.9375 2.5475 40.2425 2.94396 39.7075L30.0304 3.09625Z' fill='#E62B32')
        path(d='M30.1363 11.8138L13.1785 35.0875C12.4622 36.0737 13.0734 37.5 14.1931 37.5H48.1086C49.2283 37.5 49.8395 36.0737 49.1231 35.0875L32.1654 11.7763C31.6376 11.0513 30.6641 11.0863 30.1363 11.8138Z' fill='white')

    .page(class=pageClass)
      .container
        include ../includes/modules/header
        main.main
          block content
        include ../includes/modules/footer

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
    block script